
.nav{
    background: gray;
    width:100%;
    height:5vh;
    
}
.n11{
visibility:hidden;
}

.n12{
visibility:hidden;
}
.mouse{
height: 40px;
width:40px;
border-radius:50%;
position:absolute;
background:transparent;
}

h1{
font-size: 3rem;
margin-left: 50%;
transform:translateX(-20%);
font-family:'Kaushan Script'
}
.square{
    width:150px;
    height:150px;
    background: #000;
    border: 3px solid #999;
    cursor: pointer;
    position:relative;
       
}

.one{
    left:13%;
       
}
.two{
    right:13%;
    
}
.one,
.two{
    top : 17vh;
    font-family:'Kaushan Script';
    padding:0 10px;
    font-size:1.7rem;
}
.circle1,
.circle2{
   position:absolute;
   width:30px;
   height:30px;
   border-radius: 50%;
   background:#78350F;
   visibility:hidden;
    
}
.circle1{
    left: 26%;
    top:20vh;
}
.circle2{
    right: 9%;
    top: 20vh;
 
}
.bigImg{
    height:  55vh;
    width: 25vw;
    
}
.containerImgOne{
    left:3%

}

.containerImgTwo{
    right:3%;

}
.containerImgOne,
.containerImgTwo{
    top:25vh;
}
.activePlayer{
    border-radius: 5px; 
    font-weight:bolder;
    font-size: 2.7rem;
    border-bottom : 2px solid #78350F;
    visibility: visible;
}
.activeCircle{
   visibility:visible
}

.square:hover{
    background:pink;
   
    
}
.smallImg{
    width:100px;
    height:100px;
    position:absolute;
    transform:translateX(25%);
    /* top:42vh; */
    z-index: 5;
    visibility:hidden;
    
 }
 .n11,
 .n12{
    width:120px;
    height:130px;
    position:absolute;
    transform:translateX(25%);
    /* top:42vh; */
    z-index: 5;
    visibility:visible;
    
 }
 .smallImgAdd{
    width:100px;
    height:100px;
    left:50%;
    position:relative;
    top: -15vh;
    z-index: 10;
    transform:translateX(-50%)
 }

 .active{
 visibility: visible;
 }
 .active2{
 visibility:hidden;
 }
 .active3{
     cursor : pointer;
 }
 .noHover{
 
 }
 
/* button{
    width: 70px
}  */

.manga{
    background:#F59E0B;


}

.shoes{

}

.cartoon{

}

.playerLeft,
.playerRight{
    font-family:'Kaushan Script';
    font-size: 2rem;
    position:absolute;
    top: 85vh
}
.playerLeft{
    left:10%
}

.playerRight{
    right: 10%
}
